.team_Images-container {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(5, 1fr);
	overflow: hidden;
	height: 400px;
	align-items: center;
}

.team_Images-img {
	cursor: grab;
	width: auto;
	height: 200px;
	position: relative;
}

.team_Images-img:active {
	cursor: grabbing;
}
