.map-container {
	background-color: var(--back-ground-ligth-color);
}
.map-image {
	height: 1024px;
}
.map-image:focus {
	background-color: brown;
}
.map-image-h4 {
	color: var(--black-color);
	font-size: var(--font-size-h4);
}
.map-image-h5 {
	color: var(--black-color);
	font-size: var(--font-size-h5);
}
