.home-section-maps,
.home-section-agents {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.home-section-maps {
	background-color: var(--back-ground-dark-color);
	height: 800px;
}
.home-section-maps-info,
.home-section-agent-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}
.home-section-p {
	font-size: var(--font-size-p);
	font-family: var(--font-family-p);
	font-weight: var(--font-weight-p);
	margin-top: 20px;
	padding-left: 30px;
}

.text-white {
	color: var(--white-color);
}
.home-section-button {
	height: 50px;
	width: 200px;
	border: 0;
	margin: 30px 0 50px 0;
	padding: 10px;
	color: var(--white-color);
	text-transform: uppercase;
	background: linear-gradient(
			-60deg,
			var(--red-color) 50%,
			var(--black-color) 50%
		)
		right;
	background-size: 250%;
	transition: 0.5s ease-out;
}

.home-section-button:hover {
	background-position: left;
}

.home-section-agents {
	background-color: var(--back-ground-ligth-color);
	height: fit-content;
}
.home-section-agents .carousel {
	order: -1;
}
.home-section-agent-info {
	align-self: center;
}
.home-section-team {
	background-color: var(--back-ground-dark-color);
	padding-bottom: 100px;
}

@media (min-width: 800px) {
	.home-section-maps,
	.home-section-agents {
		display: grid;
		align-items: stretch;
	}
	.home-section-maps {
		grid-template-columns: 2fr 4fr;
	}
	.home-section-agents {
		grid-template-columns: 4fr 2fr;
	}
}
