.carousel {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.carousel-container {
	width: 90%;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.carousel-card {
	margin: 0 10% 0 10%;
	height: 100%;
	border-radius: 14px;
	overflow: hidden;
}
.carousel-img {
	width: 100%;
	object-fit: contain;
}

.carousel-container-points {
	width: 90%;
	padding: 10px 10% 10px 10%;
	gap: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.carousel-points {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: var(--white-color);
}

.carousel-points-activate {
	background-color: var(--red-color);
}
